@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
h1, h2, h3 {
	font-family: "Roboto Serif";
	font-style: bold;

}
body {
	font-family: "Roboto Serif";
	background-color: whitesmoke;
}
.cards{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items:center;
	margin-top: 1vw;
	margin-bottom: 1vw;
	margin-left: 5vw;
	margin-right: 5vw;
	}
.card{
	display: flex;
	flex-direction: column;
	border-radius: 2px;
	background-color: white;
	box-shadow: 2px 2px 2px 2px #B7A6AD;
	padding:20px;
	margin: 40px;
	height:40vh;
}
.image{
	height: 30vh;
}
#banner{
	display: flex;
	flex-direction: column;
	color:black;
	justify-content: flex-start;
	background-image: url(../images/background2.png);
	background-size:cover;
	height: 50vh;
	align-items: center;
	text-decoration: bold;
	padding-top: 30px;
}
#contact {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}
#Propositions {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}